---
layout: default
title: Accueil
menu: Haut
---
<div class="col m6">
  <div class="card bg-primary darken-1">
    <div class="card-content left-align">
      <h1>{{ site.data.informations[page.title].who? }}</h1>
        {{ site.data.informations[page.title].who }}
    </div>
  </div>
</div>
<div class="col m6">
  <div class="card bg-primary darken-1">
    <div class="card-content right-align">
      <h1>{{ site.data.informations[page.title].contact? }}</h1>
        {{ site.data.informations[page.title].contact }}
    </div>
  </div>
</div>
