@font-face
  font-family: 'ci_icon'
  src: url('fonts/ci_icon.eot')
  src: url('fonts/ci_icon.eot') format("embedded-opentype"), url('fonts/ci_icon.ttf') format("truetype"), url('fonts/ci_icon.woff') format("woff"), url('fonts/ci_icon.svg') format("svg")
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'ci_icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-thumbs-o-up:before
  content: "\f087"

.icon-thumbs-o-down:before
  content: "\f088"

.icon-apple:before
  content: "\f179"

.icon-windows:before
  content: "\f17a"

.icon-android:before
  content: "\f17b"

.icon-linux:before
  content: "\f17c"

.icon-git-square:before
  content: "\f1d2"

.icon-git:before
  content: "\f1d3"

.icon-birthday-cake:before
  content: "\f1fd"

.icon-toggle-off:before
  content: "\f204"

.icon-toggle-on:before
  content: "\f205"

.icon-envelope-open:before
  content: "\f2b6"

.icon-address-card:before, .icon-vcard:before
  content: "\f2bb"

.icon-user-circle:before
  content: "\f2bd"

.icon-long-arrow-up:before
  content: "\e900"
  margin-left: 5px

.icon-github:before
  content: "\e905"

.icon-envelope:before
  content: "\e906"

.icon-twitter:before
  content: "\e907"

.icon-facebook:before, .icon-facebook-f:before
  content: "\e908"

.icon-gitlab:before
  content: "\e901"

.icon-twitter-square:before
  content: "\e902"

.icon-github-square:before
  content: "\e903"

.icon-facebook-square:before
  content: "\e904"
