---
---

$baseurl: "{{ site.baseurl }}"

@-ms-viewport
  width: device-width

/* les trucs cool pour le site*/
@import 'var'
@import 'base'
@import 'ico'
/* Import du css Header */
@import 'header'
@import 'code'
/* Import du css Footer */
@import 'footer'

*
  box-sizing: border-box
  &::before, &::after
    box-sizing: border-box

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section, body, header, div, svg, img, .container
  display: block

@media  (max-width: var(--breakpoint-md))
  [class*="col-"]
    width: 100%

@media  (max-width: var(--breakpoint-sm))
  header
    width: 100
