---
---

.page-section
  padding: 50px 0

@media (min-width: 800px)
  .page-section
    padding: 100px 0

.page-section--gray
  background-color: #f0f0f0

.section-title
  text-align: center
  font-size: 32px
  font-weight: 300
  margin: 0 0 26px 0

@media (min-width: 800px)
  .section-title
    font-size: 55px

.section-title--gray
  color: #9D9DA6

.timeline
  position: relative
  padding: 100px 0
  &::before
    content: ""
    position: absolute
    top: 0
    left: 10%
    width: 4px
    height: 100%
    background-color: #DFDFDF
    content: ""
    position: absolute
    top: 0
    left: 10%
    width: 4px
    height: 100%
    background-color: #DFDFDF

@media (min-width: 800px)
  .timeline::before
    left: 50%
    margin-left: -2px

.timeline-item
  margin-bottom: 30px
  position: relative
  &::after
    content: ""
    clear: both
    display: table
  &:nth-child(2n) .timeline-content
    float: right
  &:last-child
    margin-bottom: 0

@media (min-width: 800px)
  .timeline-item:nth-child(2n) .timeline-content::before
    left: -20px
    border-right: 20px solid #fff
    border-left: 0

.timeline-date
  background-color: #DFDFDF
  font-weight: 300
  width: 140px
  position: absolute
  padding: 10px
  top: -18px
  left: 10%
  margin-left: -33px
  transition: all .3s ease-out
  text-align: center
  color: #adadad
  border-radius: 6px
  font-size: 14px
  z-index: 1
  strong
    font-weight: 700
  &:hover
    background-color: #333
    color: #ddd
    
@media (min-width: 800px)
  .timeline-date
    top: 30px
    left: 50%
    margin-left: -70px

.timeline-content
  width: 80%
  background: #fff
  border-radius: 6px
  float: right
  transition: all .3s ease-out
  padding: 30px 30px 25px 30px
  position: relative

@media (min-width: 800px)
  .timeline-content
    width: 36%
    float: inherit

@media (min-width: 1200px)
  .timeline-content
    width: 40%
    float: inherit

.timeline-content-title
  margin: 0
  padding: 0
  margin-bottom: 5px
  font-size: 20px
  color: #464545

@media (min-width: 800px)
  .timeline-content-title
    font-size: 24px

.timeline-content-description
  margin: 25px
  padding: 0
  font-size: 16px
  line-height: 24px
  text-decoration: none
  font-weight: 300
  color: #A7A7A6

.timeline-content-author
  margin: 0
  padding: 0 0 10px 0
  font-size: 12px
  line-height: 12px
  text-decoration: none
  font-weight: 300
  color: #A7A7A6
  border-bottom: 1px solid var(--text-main)

@media (min-width: 800px)
  .timeline-content-description
    font-size: 19px
    line-height: 28px

  .timeline-content-author
    font-size: 12px
    line-height: 10px

.begin
  position: absolute
  top: 60px !important
